<section class="xo-section xo-section--mI1CQ1">
  <style>
    
    
    .xo-custom-1650345827546 { font-size: 36px !important; }
  </style>
  <div class="xo-container">
    <div class="xo-row xo-align-items-center" style="--xo-gutter-x: 4rem;">
      <div class="xo-col-md-6 xo-col-lg-7">
        <div class="xo-row xo-m-item xo-m-img xo-m-img-02">
          <div class="xo-col-md">
            <div class="xo-m-img__img xo-styles-image-default">
              <img src="{{ section.settings.img00 | image_url }}" alt="{{ section.settings.img00.alt }}">
            </div>
          </div>
          <div class="xo-col-md">
            <div class="xo-m-img__img2 xo-styles-image-default">
              <img src="{{ section.settings.img200 | image_url }}" alt="{{ section.settings.img200.alt }}">
            </div>
          </div>
        </div>
      </div>
      <div class="xo-col-md-6 xo-col-lg-5">
        <div class="xo-m-item xo-m-textbox xo-m-textbox-02">
          <h2 class="xo-m-textbox__heading xo-styles-h2-default xo-custom-1650345827546">{{ section.settings.heading10 }}</h2>
          <div class="xo-m-textbox__subheading xo-styles-text-default">{{ section.settings.subheading10 }}</div>
          <div class="xo-m-textbox__text xo-styles-text-default">{{ section.settings.text10 }}</div>
          {%- if section.settings.button10label != blank -%}
            <div class="xo-btn xo-m-textbox__btn xo-styles-1647938934984">
              <a href="{{ section.settings.button10 }}">
                <span>{{ section.settings.button10label }}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About 01",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img00",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "img200",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "heading10",
      "label": "Heading",
      "default": "Heading title"
    },
    {
      "type": "text",
      "id": "subheading10",
      "label": "Sub heading",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post."
    },
    {
      "type": "text",
      "id": "text10",
      "label": "Text",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post."
    },
    {
      "type": "url",
      "id": "button10",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button10label",
      "label": "Button text",
      "default": "Read more"
    }
  ],
  "presets": [
    {
      "name": "About 01",
      "settings": {
        "heading10": "We think about and create what you love",
        "subheading10": "Describe a product, make announcements, or welcome customers to your store.",
        "text10": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
        "button10": "#",
        "button10label": "Read more"
      }
    }
  ]
}
{% endschema %}