<section id="xo-section--rSsW2N" class="xo-section xo-section--rSsW2N">
  <style>
    
    
    .xo-custom-1660744555487 { text-transform: uppercase !important; }.xo-custom-1660744447170 { text-align: center !important; }.xo-custom-1660744447170 { text-align: center !important; }.xo-custom-1660744504195 { font-size: 20px !important;text-align: center !important; }.xo-custom-1660744504195 { font-size: 20px !important;text-align: center !important; }.xo-custom-1660744504195 { font-size: 20px !important;text-align: center !important; }.xo-custom-1660744504195 { font-size: 20px !important;text-align: center !important; }
  </style>
  <div class="xo-container-fluid">
    <div class="xo-row xo-align-items-center" style="--xo-gutter-x: 4rem;">
      <div class="xo-col-md-4 xo-col-lg-3">
        <div class="xo-m-item xo-m-textbox xo-m-textbox-01 xo-custom-1660744447170">
          <h2 class="xo-m-textbox__heading xo-styles-h2-default xo-custom-1660744555487">{{ section.settings.heading00 }}</h2>
          <div class="xo-m-textbox__text xo-styles-text-default">{{ section.settings.text00 }}</div>
          {%- if section.settings.button00label != blank -%}
            <div class="xo-btn xo-m-textbox__btn xo-styles-1647938934984" style="--btn-color: #d0021b;">
              <a href="{{ section.settings.button00 }}">
                <span>{{ section.settings.button00label }}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="xo-col-md-8 xo-col-lg-9">
        <div class="xo-splide splide " role="group" aria-label="Slider" data-splide="{&quot;type&quot;:&quot;loop&quot;,&quot;perPage&quot;:3,&quot;breakpoints&quot;:{&quot;576&quot;:{&quot;perPage&quot;:1},&quot;992&quot;:{&quot;perPage&quot;:2}},&quot;perMove&quot;:1,&quot;autoplay&quot;:false,&quot;interval&quot;:5000,&quot;autoHeight&quot;:true,&quot;gap&quot;:&quot;20px&quot;,&quot;arrows&quot;:true,&quot;pagination&quot;:false}">
          <div class="splide__track">
            <ul class="splide__list">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'imagebox01' -%}
                  <li class="splide__slide xo-repeat__item">
                    <div class="xo-m-item xo-m-imagebox xo-m-imagebox-01">
                      <div class="xo-m-imagebox__img xo-styles-1654095204226">
                        <img src="{{ block.settings.img0 | image_url }}" alt="{{ block.settings.img0.alt }}">
                      </div>
                      <h2 class="xo-m-imagebox__heading xo-styles-h2-default xo-custom-1660744504195">{{ block.settings.heading0 }}</h2>
                    </div>
                  </li>
                  {%- when 'imagebox02' -%}
                  <li class="splide__slide xo-repeat__item">
                    <div class="xo-m-item xo-m-imagebox xo-m-imagebox-02">
                      <div class="xo-m-imagebox__img">
                        <img src="{{ block.settings.img1 | image_url }}" alt="{{ block.settings.img1.alt }}">
                      </div>
                      <h3 class="xo-m-imagebox__heading">{{ block.settings.heading1 }}</h3>
                      <div class="xo-m-imagebox__text">{{ block.settings.text1 }}</div>
                    </div>
                  </li>
                {%- endcase -%}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Features 17",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading00",
      "label": "Heading",
      "default": "Heading title"
    },
    {
      "type": "text",
      "id": "text00",
      "label": "Text",
      "default": "Pair text with an image to focus on your chosen product, collection, or blog post."
    },
    {
      "type": "url",
      "id": "button00",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button00label",
      "label": "Button text",
      "default": "Read more"
    }
  ],
  "blocks": [
    {
      "type": "imagebox01",
      "name": "ImageBox01",
      "settings": [
        {
          "type": "image_picker",
          "id": "img0",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading0",
          "label": "Heading",
          "default": "Heading title"
        }
      ]
    },
    {
      "type": "imagebox02",
      "name": "ImageBox02",
      "settings": [
        {
          "type": "image_picker",
          "id": "img1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
          "default": "Heading title"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text",
          "default": "Pair text with an image to focus on your chosen product, collection, or blog post."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features 17",
      "settings": {
        "heading00": "Our outstanding features",
        "text00": "We are very proud of the features we provide and stand by every product we carry",
        "button00": "#",
        "button00label": "View all features"
      },
      "blocks": [
        {
          "type": "imagebox01",
          "settings": {
            "heading0": "Latest Modern Technology"
          }
        },
        {
          "type": "imagebox01",
          "settings": {
            "heading0": "High Quality Design"
          }
        },
        {
          "type": "imagebox01",
          "settings": {
            "heading0": "On-time Service"
          }
        },
        {
          "type": "imagebox01",
          "settings": {
            "heading0": "Excellent Customer Service"
          }
        }
      ]
    }
  ]
}
{% endschema %}